@import 'tailwindcss';
@import '@nuxt/ui';

html,
body {
  height: 100%;
  overflow: hidden;
  background-color: #09090b; /* zinc-950 */
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  overflow: hidden;
  background-color: #09090b; /* zinc-950 */
}
